<% body_class 'header-transparent' %>

<main>
	<div class="cover">
		<div class="overlay">
			<div class="wrapper">
				<h1><%= svg 'logo-full' %>Christine</h1>
				<h3>La tise stylée</h3>
			</div>
		</div>
	</div>
	<div class="products wrapper">
		<% @products.each do |product| %>
			<div class="product">
				<%= content_tag :a, href: product_path(product) do %>
					<div class="image">
						<%= image_tag product.attachments[0].file.url(:medium), alt: product.name %>
					</div>
					<div class="infos">
						<span class="name"><%= product.name %></span>
						<span class="price"><%= product.plain_price %></span>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</main>
