<%= form_for_product @product do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.error_tag :name %>
    </div>
    <div class="field">
        <%= f.label :price %>
        <%= f.number_field :price %>
        <%= f.error_tag :price %>
    </div>
    <div class="field">
        <%= f.label :baseline %>
        <%= f.text_field :baseline %>
        <%= f.error_tag :baseline %>
    </div>
    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.error_tag :description %>
    </div>
    <div class="attachments-fields">
        <% n = 0 %>
        <%= f.fields_for :attachments do |ff| %>
            <% attachment = n < @product.attachments.length - 1 ? @product.attachments[n] : nil; %>
            <% n += 1 %>
        	<div class="field">
        		<%= ff.label :file %>
                <% if attachment %>
                    <%= image_tag attachment.file.url(:thumb) %>
                    <%= ff.check_box :_destroy %>
                <% else %>
                    <%= ff.file_field :file %>
                    <%= ff.error_tag :file %>
                <% end %>
                <span class="remove"><%= t :attachment_remove %></span>
                <span class="add"><%= t :attachment_add %></span>
        	</div>
        <% end %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<%= javascript_tag do %>
    var t = {
        file: '<%= j t(:'activerecord.attributes.attachment.file') %>',
        add: '<%= j t(:attachment_add) %>',
        remove: '<%= j t(:attachment_remove) %>'
    };
<% end %>
