<main>
    <div class="wrapper">
        <h1><%= t :product_index %></h1>

        <table>
            <thead>
                <tr>
                    <th><%= t_attr :product, :name %></th>
                    <th><%= t_attr :product, :price %></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @products.each do |product| %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td class="actions">
                            <%= link_to svg(:icons, :show)+t(:product_show), product, title: t(:product_show) %>
                            <%= link_to svg(:icons, :edit)+t(:product_edit), edit_product_path(product), title: t(:product_edit) %>
                            <%= link_to svg(:icons, :destroy)+t(:product_destroy), destroy_product_path(product), title: t(:product_destroy) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3"><%= link_to t(:product_new), new_product_path, class: :button %></td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>
