<% stylesheet :flickity %>
<% javascript :flickity %>

<main>
    <div class="wrapper">

        <div class="head">
            <h1><%= @product.name %></h1>
            <div class="actions">
                <% if current_user_is_admin %>
                    <%= link_to t(:product_edit), edit_product_path(@product), class: :button %>
                <% end %>
                <span class="button brand big-span add" data-id=<%= @product.id %>>
                    <%= content_tag(:span, @product.price.to_s+'€') %>
                    <%= svg(:icons, :basket)+t(:basket_add) %>
                </span>
            </div>
        </div>


        <div class="carousel">
            <% @product.attachments.each do |attachment| %>
                <div class="carousel-cell">
                    <%= image_tag attachment.file.url %>
                </div>
            <% end %>
        </div>

        <p class="baseline"><%= @product.baseline %></p>
        <p class="description"><%= @product.description %></p>
    </div>
</main>
