<% render 'routes' %>
<% render 'translations' %>

<!DOCTYPE html>
<html>
    <head>
        <title><%= title base: :brand_name %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <%= stylesheet %>
        <%= current_stylesheet %>
        <%= csrf_meta_tags %>
    </head>
    <body<%= body_class %>>
        <%= render 'flash' %>
        <%= render 'header' %>

        <%= yield %>

        <% if current_user %>
            <% javascript 'https://checkout.stripe.com/checkout.js' %>
            <%= render 'stripe' %>
        <% end %>

        <%= javascript %>
        <%= defer_translations %>
        <%= defer_routes %>
        <%= current_javascript %>
    </body>
</html>
