<!DOCTYPE html>
<html>
    <head>
        <title><%= title base: :brand_name %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <%= stylesheet %>
        <%= current_stylesheet %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render 'flash' %>
        <%= render 'header' %>

        <%= yield %>

        <%= javascript %>
        <%= defer_routes %>
        <%= defer_translations %>
        <%= current_javascript %>
    </body>
</html>
